.recipe-item-container{
    width: 98%;
    min-height: 350px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:2rem;
    background-color: #f6f6f6;
    border-radius:8px;
    padding: 2rem;
  @media screen and (max-width:1000px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
}

.recipe-info{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}
.health-label{
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}
.health-list{
    display: flex;
    justify-content: start;
    align-items: start;
   flex-direction: column;
    gap:10px;
}
img{
    border-radius: 8px;
}
.diet-labels{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    gap:10px;
}
.recipe-title{
    font-size: 25px;
}
.read-more{
    border: none;
    background-color: transparent;
    font-weight: 650;
    text-decoration: underline;
    cursor: pointer;
}
.see-recipe-btn{
    margin-left: auto;
    border: none;
    background-color: transparent;
    font-weight: 650;
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius:10px;
    background-color:  rgb(36, 179, 50);
    color: white;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
}
.see-recipe-btn:hover{
    background-color:  rgb(8, 142, 21);
}
.diet-p{
    border-radius: 16px;
    background-color: rgb(131, 220, 140);
    padding: 5px 10px;
}