#recipe-search{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: start;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.inner-recipe{
    width: 100%;
    max-width: 1600px;
    height: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: start;
}
.input{
    padding: 10px;
    width: 50%;
    border-radius:10px;
    border:none;
    border:2px solid rgb(36, 179, 50);
    @media screen and (max-width:1000px) {
        width: 90%;
    }
}
.search-div{
    width: 100%;
    border-radius: 8px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    border:2px solid rgb(36, 179, 50);

    @media screen and (max-width:800px) {
        flex-direction: column;
            align-items: center;
        
    }
}
.form{
    width: 40%;
    height: 100px;
    display:flex;
    justify-content: space-between;
    align-items: start;
    font-size: 25px;
    white-space: nowrap;
    gap: 10px;
    padding: 10px;
    @media screen and (max-width:800px) {
        width: 95%;
        flex-direction: column;
    }
}
.search-pair{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius:10px;
    background-color:  rgb(36, 179, 50);
    color: white;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    
}
.arrow{
    @media screen and (max-width:800px) {
        transform: rotate(90deg);
    }
}

.form-btn:hover{
    background-color:  rgb(8, 142, 21);
}
.search-items{
    width: 85%;
    min-height: 50px;
    border-left: 2px solid white;
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    padding: 5px 10px;
    background-color: rgb(173, 249, 181);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

}
.item-remove{
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}
.search-field{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left:2px solid rgb(36, 179, 50);

        @media screen and (max-width:800px) {
            width: 100%;
        border:none;

        border-top: 2px solid rgb(36, 179, 50);  

        }
}
